---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import HeaderLink from "../components/HeaderLink.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
const { title } = Astro.props.frontmatter || Astro.props

const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-gray-950 min-h-full flex text-gray-200 selection:bg-slate-500"
  >
    <div class="lg:max-w-3xl w-full px-8 mx-auto bg-gray-900 flex flex-col">
      <div class="pt-32 pb-8">
        <h1 class="text-3xl font-semibold text-center mb-4">{SITE_TITLE}</h1>
        <h2 class="mb-8 text-center">
          SysAdmin &middot; Full-Stack Developer &middot; Network Engineer
        </h2>
        <div class="flex justify-center gap-4">
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/about">About Me</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/contact">Contact</HeaderLink>
        </div>
      </div>
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
